.footer{
    padding: 10rem 0;
    background-color: $color-grey-dark-3;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    &__logo-box{
        text-align: center;
        padding-bottom: 8rem;
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__navigation{
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;
            background-color: $color-grey-dark-3;
            display: inline-block;
            transition: all 0.2s;
        }

        &:hover,
        &:active{
            color: $color-primary;
            transform: rotate(5deg) scale(1.3);
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .4);
        }
    }

    &__copyright{
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        width: 80%;
        float: right;
    }
}