.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    overflow: hidden;
    z-index: -1;
    &__content{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}