.story{
    width: 75%;
    margin: 0 auto;
    background-color: $color-white;
    padding: 6rem;
    padding-left: 9rem;
    opacity: 0.8;
    transform: skewX(-12deg);
    border-radius: 3px;

    @include respond(tab-port){
        width: 90%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone){
        transform: skewX(0);
    }

    &__shape{
        position: relative;
        height: 15rem;
        width: 15rem;
        float: left;
        overflow: hidden;
        border-radius: 50%;
        transform: translateX(-3rem) scaleX(12deg);
        @supports (clip-path: polygon(0 0) or (-webkit-clip-path: polygon(0 0))){
            transform: translateX(-3rem) skewX(12deg);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
        }

        @include respond(phone){
            transform: translateX(-3rem) skewX(0);
        }

    }

    &__img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: translateX(-4px) scale(1.4);
        transition: all 0.4s;
        backface-visibility: hidden;
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        color: $color-white;
        font-size: 1.8rem;
        text-transform: uppercase;
        transform: translate(-50%, 20%);
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover &__img{
        transform: translateX(-4px) scale(1.1);
        filter: blur(3px) brightness(80%);
    }

    &:hover &__caption{
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &__text{
        transform: skewX(12deg);
        font-size: 1.5rem;
        @include respond(phone){
            transform: skewX(0);
        }
    }
}