body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 3rem;
        animation: moveInLeft 1s ease-out;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;
    }
}